{{ template "a_head.html" .}}
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Internet Plan</h3></div>
                                    <div class="card-body">
                                        <form action="/plan" method="post">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" name="name" value="{{ .data.Name  }}" type="text" placeholder="Enter plan name" />
                                                <label for="inputPlanName">Plan Name</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputFirstName" name="download" value="{{ .data.Download }}" type="text" placeholder="Enter download speed" />
                                                        <label for="downloadspeed">Download Mbps</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="inputLastName" name="upload" value="{{ .data.Upload }}" type="text" placeholder="Enter upload speed" />
                                                        <label for="uploadspeed">Upload Mbps</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPassword" name="burst" value="{{ .data.Burst }}" type="text" placeholder="Enter burst speed" />
                                                        <label for="burstspeed">Burst Mbps</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPasswordConfirm" name="duration" value="{{ .data.Duration }}" type="text" placeholder="Enter burst duration" />
                                                        <label for="inputPasswordConfirm">Burst duration in seconds</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <input type="hidden" name="id" value="{{ .data.ID }}">
                                                <input type="hidden" name="delete" value="{{ .delete }}">
                                                {{ if (eq .delete "yes") }}
                                                  <input type="submit" value="Delete" class="btn btn-primary">
                                                  <p class="text-danger">This action will delete the record permanently</p>
                                                {{ else }}
                                                  <input type="submit" value="Submit" class="btn btn-primary">
                                                {{ end }}
                                                <p class="text-danger">{{ .flash }}</p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{{ template "a_tail.html" .}}
