{{ template "a_head.html" .}}
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Internet Plans</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Plans</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                Create Internet Plan
                                <a href="/plan"><i class="fas fa-square-plus me-1"></i></a>
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Download Speed(Mbps)</th>
                                            <th>Upload Speed(Mbps)</th>
                                            <th>Burst Speed(Mbps)</th>
                                            <th>Burst Duration(Seconds)</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Download Speed(Mbps)</th>
                                            <th>Upload Speed(Mbps)</th>
                                            <th>Burst Speed(Mbps)</th>
                                            <th>Burst Duration(Seconds)</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {{range .plans }}
                                        <tr>
                                            <th>{{ .ID }}</th>
                                            <th>{{ .Name }}</th>
                                            <th>{{ .Download }}</th>
                                            <th>{{ .Upload }}</th>
                                            <th>{{ .Burst }}</th>
                                            <th>{{ .Duration }}</th>
                                            <th><a href="/plan?id={{ .ID }}"><i class="fa-solid fa-pencil"></a></i></th>
                                            <th><a href="/plan?id={{ .ID }}&delete=yes"><i class="fa-solid fa-square-minus"></a></i></th>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{{ template "a_tail.html" .}}
